@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@using System.Globalization

<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white abilities" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray;">
            <i class="bi-hdd-fill"></i>
            <h3>Back-end</h3>
            <p>
                @Localizer["BackendDescription"]
            </p>
            <p class="text-primary header">
                Stack:
            </p>
            <p>
                ASP.net Core, SQL Server
            </p>
            <p class="text-primary header">
                @Localizer["BackendExperienceTitle"]
            </p>
            <ul>
                <li>Web APIs</li>
                <li>ASP.net Core MVC</li>
                <li>Entity Framework Core</li>
                <li>Blazor</li>
                <li>Dapper</li>
                <li>@Localizer["BackendExperience6"]</li>
                <li>@Localizer["BackendExperience7"]</li>
            </ul>
        </div>
        <div class="col col-3 bg-white abilities" style="border-radius:  0 15px 15px 0; box-shadow: 0 5px 5px 0 gray;">
            <i class="bi-code-slash"></i>
            <h3>Front-end</h3>
            <p>
                @Localizer["FrontendDescription"]
            <p class="text-primary header">
                Stack:
            </p>
            <p>
                React, Angular,a Blazor
            </p>
            <p class="text-primary header">
                @Localizer["FrontendExperienceTitle"]
            </p>
            <ul>
                <li>React Hooks</li>
                <li>Angular Material</li>
                <li>Blazor WASM</li>
                <li>JQuery</li>
                <li>@Localizer["FrontendExperience5"]</li>
                <li>Leaflet</li>
                <li>Markdown</li>
            </ul>
        </div>
    </div>
</div>
