@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@using System.Globalization

@model IEnumerable<ProjectDTO>

@if (Model is not null) {
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var Project in Model)
            {
                <div class="col">
                    <div class="card h-100">
                        <img src="@Project.ImageURL" class="card-img-top" alt="proyect image" />
                        <div class="card-body">
                            <h5 class="card-title">@Project.Title</h5>
                            <p class="card-text">@Project.Description</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" href="@Project.Link" target="_blank" 
                            rel="noopener noreferrer">@Localizer["Visit"]</a>
                        </div>
                    </div>
                </div>
            }
        </div>            
    </div>
}